export(GO_KEGG)
export(GO_KEGG_analyse)
export(GO_KEGG_plot)
export(Heatmap_plot)
export(plot_dot_heatmap)
export(plot_cross_heatmap)
export(plot_circular_heatmap)
export(plot_rda)
export(LEFSE_run)
export(LEFSE_marker_table)
export(LEFSE_LDA_plot)
export(LEFSE_cladogram_plot)
export(WGCNA_prepare_expression)
export(WGCNA_select_power)
export(WGCNA_build_modules)
export(WGCNA_module_sample)
export(WGCNA_module_trait)
export(WGCNA_module_membership)
export(WGCNA_export_network)
export(WGCNA_run)
export(WGCNA_write_results)
export(WGCNA_plot_soft_threshold)
export(choose_plot_style)
export(enrichment_bar)
export(plot_pca)
export(plot_volcano)
export(plot_venn)
export(plot_gsea)
