export(GO_KEGG)
export(GO_KEGG_analyse)
export(GO_KEGG_plot)
export(Heatmap_plot)
export(plot_dot_heatmap)
export(plot_cross_heatmap)
export(plot_circular_heatmap)
export(plot_rda)
export(LEFSE_run)
export(LEFSE_marker_table)
export(LEFSE_LDA_plot)
export(LEFSE_cladogram_plot)
export(WGCNA_prepare_expression)
export(WGCNA_select_power)
export(WGCNA_build_modules)
export(WGCNA_module_sample)
export(WGCNA_module_trait)
export(WGCNA_module_membership)
export(WGCNA_export_network)
export(WGCNA_run)
export(WGCNA_write_results)
export(WGCNA_plot_soft_threshold)
export(choose_plot_style)
export(enrichment_bar)
export(plot_distribution)
export(plot_forest)
export(plot_gsea)
export(plot_manhattan)
export(plot_pca)
export(plot_qq)
export(plot_sankey)
export(plot_scatter)
export(plot_survival)
export(plot_venn)
export(plot_violin_box)
export(plot_volcano)
export(volcano_plot)
export(volcano_candy_plot)
export(volcano_polar_plot)
export(annotation_bar)
export(annotation_flower)
export(annotation_pie)
export(deg_count_bar)
export(deg_flower)
export(deg_ma)
export(deg_upset)
export(deu_exon_expression)
export(enrichment_butterfly)
export(enrichment_circle)
export(expression_trend)
export(gene_body_coverage)
export(go_dag)
export(junction_saturation)
export(mapping_region_pie)
export(ppi_network)
export(read_qc_base_content)
export(read_qc_error)
export(sample_correlation_heatmap)
export(wgcna_mm_gs)
export(wgcna_module_sizes)
export(wgcna_module_trait_heatmap)
export(wgcna_sample_tree)
